<nav class="top-menu">
  <a class="top-menu__logo" href="">
    <img class="top-menu__logo-img" src="./assets/svg/logo.svg" alt="" />
  </a>

  <!-- TODO: Added  -->
  <!-- <ul class="top-menu__main menu">
    <li class="menu__item">
      <a href="" class="menu__link"> Features </a>
      <a href="" class="menu__link"> Pricing </a>
      <a href="" class="menu__link"> Blog </a>
    </li>
  </ul> -->

  <!-- <button
    tuiButton
    type="button"
    (click)="toggle(true)"
    (tuiActiveZoneChange)="toggle($event)"
  >
    Show sidebar
    <div *tuiSidebar="isOpenSidebar">Content</div>
  </button> -->

  <div class="top-menu__auth" *ngIf="!isLoggedIn">
    <a class="top-menu__auth-btn" tuiLink routerLink="/auth/login"> Login </a>
    <button
      tuiButton
      shape="rounded"
      appearance="outline"
      size="m"
      routerLink="/auth/registration"
    >
      Sign-in
    </button>
  </div>

  <div class="top-menu__auth" *ngIf="isLoggedIn">
    <a
      class="top-menu__auth-btn tui-space_right-5"
      tuiLink
      routerLink="/auth/login"
    >
      Открыть кабинет
    </a>
    <a class="top-menu__auth-user user" tuiLink routerLink="/admin">
      <tui-avatar
        [text]="user.displayName || user.email"
        [avatarUrl]="user.photoURL"
        size="s"
        class="user__avatar"
        [rounded]="true"
      ></tui-avatar>
      <div class="user__content">
        <div class="user__name">{{ user.displayName }}</div>
        <div class="user__email">{{ user.email }}</div>
      </div>
    </a>
  </div>
</nav>
