.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 40px;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1000;

  & &__logo {
    &-img {
      max-height: 35px;
    }
  }

  & &__auth {
    &-btn {
      padding: 10px 20px;
      border-radius: 20px;
      color: #333;
      font-weight: 900;

      & + .top-menu__auth-btn {
        margin-left: 20px;
      }
    }
  }
}

.menu {
  & &__link {
    display: inline-flex;
    align-items: center;
    min-height: 90px;
    line-height: 90px;
    padding: 0 25px;
    font-weight: 500;
    text-decoration: none;
    outline: none;
    color: #1a1a1a;
    box-shadow: none;
    transition: 0.3s all ease-in-out;

    &:hover {
      color: #222;
      outline: none;
      box-shadow: none;
    }
  }
}
