<nav class="top-menu">
  <a class="top-menu__logo" href="">
    <img src="./assets/svg/logo.svg" alt="" />
  </a>

  <ul class="top-menu__main menu">
    <li class="menu__item">
      <a href="" class="menu__link"> Главная </a>
      <a href="" class="menu__link"> Цены </a>
      <a href="" class="menu__link"> Описание </a>
      <a href="" class="menu__link"> Разработка </a>
    </li>
  </ul>

  <div class="top-menu__auth">
    <a class="top-menu__auth-btn">Войти</a>
    <a class="top-menu__auth-btn top-menu__auth-btn--reg">Регистрация</a>
  </div>
</nav>
