<div class="page-header">
  <h1 class="tui-text_h3 page-header__title">Контрагенты</h1>
  <button
    class="tui-space_left-5"
    tuiButton
    size="s"
    iconRight="tuiIconPlus"
    title="Создать новый"
    shape="rounded"
    [routerLink]="[routing.admin.contractor.create]"
  >
    Создать новый
  </button>
</div>

<section class="page-body">
  <ng-container *ngIf="contractors$ | async as contractors">
    <table tuiTable [columns]="columns">
      <thead>
        <tr tuiThGroup>
          <th *tuiHead="'unp'" tuiTh [resizable]="true">УНП</th>
          <th *tuiHead="'name'" tuiTh [resizable]="true">Наименование</th>
          <th *tuiHead="'action'" tuiTh [resizable]="false"></th>
        </tr>
      </thead>
      <tbody tuiTbody [data]="contractors">
        <tr *tuiRow="let item of contractors; let index = index" tuiTr>
          <td *tuiCell="'unp'" tuiTd>
            {{ item?.info?.unp }}
          </td>
          <td *tuiCell="'name'" tuiTd>
            {{ item?.info?.shortName }}
          </td>
          <td *tuiCell="'action'" tuiTd>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconUsers"
              title="Просмотреть"
              shape="rounded"
              (click)="toggleAsideContractorView(item)"
            ></button>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconTrash"
              title="Удалить"
              shape="rounded"
              (click)="delete(item)"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</section>

<aside class="aside _right _close" *ngIf="isOpenAsideContractorView">
  <div class="aside__panel">
    <app-contractor-info
      (close)="toggleAsideContractorView()"
    ></app-contractor-info>
  </div>
</aside>
