<div class="page-header">
  <h1 class="tui-text_h3 page-header__title">Контрагенты</h1>
  <button
    class="tui-space_left-5"
    tuiButton
    size="s"
    iconRight="tuiIconPlus"
    title="Создать новый"
    shape="rounded"
    [routerLink]="[routing.admin.contractor.create]"
  >
    Создать новый
  </button>
</div>

<section class="page-body">
  <button
    class="tui-space_left-5"
    tuiButton
    size="s"
    iconRight="tuiIconPlus"
    title="Cancel"
    shape="rounded"
    [stateInProgress]="stateInProgress$ | async"
  >
    Cancel
  </button>
  <button
    class="tui-space_left-5"
    tuiButton
    size="s"
    iconRight="tuiIconPlus"
    title="Создать новый"
    shape="rounded"
    (click)="test()"
    [stateInProgress]="stateInProgress$ | async"
  >
    Test Subject
  </button>
</section>

<aside class="aside _right _close" *ngIf="isOpenAsideContractorView">
  <div class="aside__panel">
    <app-contractor-info
      (close)="toggleAsideContractorView()"
    ></app-contractor-info>
  </div>
</aside>
