<!-- <tui-loader
  [showLoader]="!(statuses$ | async)"
  [overlay]="true"
  [inheritColor]="true"
>
  <form *tuiLet="statuses$ | async as statuses">
    <tui-select [formControl]="statusControl" [valueContent]="itemContent">
      Выбрать статус
      <tui-data-list-wrapper
        *tuiDataList
        size="l"
        [items]="statuses"
        [itemContent]="itemContent"
        [disabledItemHandler]="disabledItemHandler"
      ></tui-data-list-wrapper>
    </tui-select>
  </form>
</tui-loader>

<ng-template #itemContent let-data>
  <div class="itemContent">
    <span
      class="itemContent__badge"
      [style.background-color]="data?.color"
    ></span>
    <div class="itemContent__name">{{ data?.name }}</div>
  </div>
</ng-template> -->
