<app-header-create title="Создание договора"></app-header-create>

<!-- <section class="page-body"> -->
<tui-scrollbar class="page-body page-body--header-footer">
  <form class="tui-container tui-container_full" [formGroup]="form">
    <div class="tui-row tui-row_adaptive">
      <div class="tui-col_xs-12 tui-col_s-1 tui-col_sm-4 tui-col_md-3">
        <tui-input-number formControlName="number">
          Номер договора
        </tui-input-number>
        <tui-checkbox-labeled
          class="tui-space_top-3"
          [formControl]="withoutNumberControl"
          size="m"
        >
          Без номера
        </tui-checkbox-labeled>
      </div>
      <tui-input-date
        class="tui-col_xs-12 tui-col_s-1 tui-col_sm-4 tui-col_md-4"
        formControlName="date"
      >
        Дата
      </tui-input-date>
      <app-status-panel
        class="tui-col_xs-12 tui-col_s-1 tui-col_sm-4 tui-col_md-4"
        type="contract"
        (changed)="setStatus($event)"
      ></app-status-panel>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <h3 class="tui-form__header">Арендодатель</h3>
        <app-company-panel
          [company]="f.profileCompany.value"
          [isLoaded]="true"
        ></app-company-panel>
      </div>

      <div class="tui-form__multi-field">
        <h3 class="tui-form__header">Арендодатель</h3>
        <app-company-panel
          [company]="f.contractor.value"
          [isLoaded]="true"
        ></app-company-panel>
      </div>
    </div>

    <div class="tui-row tui-row_adaptive tui-space_top-5">
      <div
        class="
          tui-col_xs-12 tui-col_s-12 tui-col_sm-12 tui-col_md-12 tui-col_lg-12
        "
      >
        <tui-editor  formControlName="template">
          Шаблон договора
        </tui-editor>
      </div>
    </div>

    <!-- QR Code -->
    <qrcode
      class="qr-code"
      #qrBlock
      [qrdata]="form.controls._id.value"
      [width]="125"
      [errorCorrectionLevel]="'H'"
      [elementType]="'img'"
    ></qrcode>
    <!-- end QR Code -->
  </form>
</tui-scrollbar>
<!-- </section> -->

<footer class="page-footer">
  <button
    tuiButton
    type="button"
    class="tui-space_right-3"
    appearance="outline"
    [(stateInProgress)]="stateInProgress"
    (click)="cancel()"
  >
    Отменить
  </button>
  <button
    tuiButton
    type="button"
    class="tui-space_right-3"
    [(stateInProgress)]="stateInProgress"
    (click)="save()"
  >
    Создать
  </button>
</footer>
