<app-header-create title="Создание договора"></app-header-create>

<section class="page-body">
  <form [formGroup]="form">
    <div class="tui-row tui-row_adaptive">
      <tui-input-number
        class="tui-col_xs-12 tui-col_s-1 tui-col_sm-4 tui-col_md-3"
        formControlName="number"
      >
        Номер договора
      </tui-input-number>
      <tui-input-date
        class="tui-col_xs-12 tui-col_s-1 tui-col_sm-4 tui-col_md-4"
        formControlName="date"
      >
        Дата
      </tui-input-date>
      <app-status-panel
        class="tui-col_xs-12 tui-col_s-1 tui-col_sm-4 tui-col_md-4"
        type="contract"
        (changed)="setStatus($event)"
      ></app-status-panel>

      <!-- <qrcode
        #qrBlock
        class="tui-col_md-2"
        [qrdata]="form.controls._id.value"
        [width]="125"
        [errorCorrectionLevel]="'H'"
        [elementType]="'img'"
      ></qrcode> -->
    </div>

    <div class="tui-row tui-row_adaptive">
      <div
        class="tui-col_xs-12 tui-col_s-1 tui-col_sm-1 tui-col_md-6 tui-col_lg-6"
      >
        <h5>Арендодатель</h5>
        <app-company-panel
          *ngIf="form.controls.profileCompany.value"
          [data]="form.controls.profileCompany.value"
          [isLoaded]="true"
          [canChange]="false"
        ></app-company-panel>
      </div>

      <!-- <div
        class="tui-col_xs-12 tui-col_s-1 tui-col_sm-1 tui-col_md-6 tui-col_lg-6"
      >
        <h5>Арендатор</h5>
        <app-contractor-panel
          [contractor]="form.controls.contractor.value"
          (selected)="setContractor($event)"
        ></app-contractor-panel>
      </div> -->
    </div>

    <div class="tui-row tui-row_adaptive tui-space_top-5">
      <div
        class="
          tui-col_xs-12 tui-col_s-12 tui-col_sm-12 tui-col_md-12 tui-col_lg-12
        "
      >
        <tui-editor new formControlName="template">
          Шаблон договора
        </tui-editor>
      </div>
    </div>

    <!-- QR Code -->
    <qrcode
      class="qr-code"
      #qrBlock
      [qrdata]="form.controls._id.value"
      [width]="125"
      [errorCorrectionLevel]="'H'"
      [elementType]="'img'"
    ></qrcode>
    <!-- end QR Code -->

    <div class="tui-row tui-row_adaptive tui-space_top-10">
      <div
        class="
          tui-col_xs-12 tui-col_s-12 tui-col_sm-12 tui-col_md-12 tui-col_lg-12
        "
      >
        <button
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
          appearance="outline"
          (click)="cancel()"
          [appDisabledState]="buttonDisabled"
        >
          Отменить
        </button>
        <button
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
          (click)="save()"
          [appDisabledState]="buttonDisabled"
        >
          Создать
        </button>
      </div>
    </div>
  </form>
</section>
