<h1>
  Статусы
</h1>
<app-status-panel></app-status-panel>

<h1>
  Контрагент
</h1>
<app-contractor-panel></app-contractor-panel>

<h1>
  Услуги
</h1>
<app-service-panel></app-service-panel>

<!-- <tui-accordion class="container">
    <tui-accordion-item>
        Профиль компании
        <ng-template tuiAccordionItemContent>
            Development kit consisting of the low level tools and abstractions
            used to develop Taiga UI Angular entities
        </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
        Контрагент
        <ng-template tuiAccordionItemContent>
            <div #content>
                Basic elements needed to develop components, directives and more
                using Taiga UI design system
            </div>
        </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
        Услуги
        <ng-template tuiAccordionItemContent>
            The main set of components used to build Taiga UI based Angular
            applications
        </ng-template>
    </tui-accordion-item>
</tui-accordion> -->

<!-- <tui-combo-box
    *tuiLet="service.request(search) | async as filtered"
    class="b-form"
    tuiTextfieldExampleText="Type a name"
    [formControl]="control"
    [valueContent]="value"
    [(search)]="search"
>
    Find the best employees
    <ng-template #value let-item>
        <tui-avatar
            class="avatar"
            size="xs"
            [avatarUrl]="item.avatarUrl || null"
            [text]="item.toString()"
        ></tui-avatar>
        <span class="name"> {{item}} </span>
    </ng-template>
    <ng-template tuiDataList>
        <tui-data-list *ngIf="filtered; else loading">
            <button
                *ngFor="let item of filtered"
                tuiOption
                [value]="item"
                [disabled]="item.disabled"
            >
                <tui-avatar
                    class="avatar"
                    size="xs"
                    [avatarUrl]="item.avatarUrl || null"
                    [text]="item.toString()"
                ></tui-avatar>
                <span class="name"> {{item}} </span>
            </button>
        </tui-data-list>
        <ng-template #loading>
            <tui-loader class="tui-space_vertical-4"></tui-loader>
        </ng-template>
    </ng-template>
</tui-combo-box> -->

<!-- <tui-island size="s">
  <div class="tui-island__content">
    <div class="tui-island__figure">
			<tui-marker-icon size="s" src="tuiIconBookmarkLarge"></tui-marker-icon>
    </div>
    <div>
      <p class="tui-island__category">Статус</p>
      <h3 class="tui-island__title tui-space_bottom-0">Черновик</h3>
    </div>
  </div>
</tui-island> -->


<h1>
  Профиль компании (если более 1 компании)
</h1>

<h4>
    Пока не создан компонент
</h4>