<section class="tui-container">
  <div class="stepper">
    <tui-stepper [activeItemIndex]="0">
      <button tuiStep>Реквизиты</button>
      <button tuiStep [disabled]="true">Услуги</button>
      <button tuiStep [disabled]="true">Счет</button>
    </tui-stepper>
  </div>

  <form>
    <div class="tui-row tui-row_sme">
      <div class="tui-col_12">

        <h3 class="tui-form__header">
          Информация
        </h3>
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <app-status-panel (selected)="setStatus($event)"></app-status-panel>
          </div>
          <div class="tui-form__multi-field">
            <app-contractor-panel (selected)="setContractor($event)"></app-contractor-panel>
          </div>
        </div>

        <h3 class="tui-form__header">
          Услуги
        </h3>
        <div class="tui-form__row">
          <div class="tui-form__field">
            <app-service-table (selected)="setService($event)"></app-service-table>
          </div>
        </div>
        
        <h3 class="tui-form__header">
          Ваша компания
        </h3>
        <div class="tui-form__row">
          <h4>
            Пока не создан компонент
          </h4>
        </div>
      </div>
    </div>
  </form>

</section>

<h3>
  {{invoice | json}}
</h3>



