<div class="wrapper">
  <h1 class="tui-text_h3 title">Акты</h1>
  <!-- <tui-tabs-with-more
    class="tabs"
    [activeItemIndex]="activeItemIndex"
    [moreContent]="more"
  >
    <ng-container *tuiLet="invoiceStatuses$ | async as invoiceStatuses">
      <ng-container *ngFor="let status of invoiceStatuses">
        <button *tuiTab tuiTab (click)="selectTab(status)">
          {{ status.name }}
        </button>
      </ng-container>
    </ng-container>
  </tui-tabs-with-more> -->
</div>
<section class="content">
  <!-- <ng-container *ngIf="invoices$ | async as invoices">
    <table tuiTable [columns]="columns">
      <thead>
        <tr tuiThGroup>
          <th *tuiHead="'number'" tuiTh [resizable]="true">Номер</th>
          <th *tuiHead="'unp'" tuiTh [resizable]="true">Организация</th>
          <th *tuiHead="'status'" tuiTh [resizable]="true">Статус</th>
          <th *tuiHead="'price'" tuiTh [resizable]="true">Сумма</th>
          <th *tuiHead="'action'" tuiTh [resizable]="true"></th>
        </tr>
      </thead>
      <tbody tuiTbody [data]="invoices">
        <tr *tuiRow="let item of invoices; let index = index" tuiTr>
          <td *tuiCell="'number'" tuiTd># {{ item?.number }}</td>
          <td *tuiCell="'unp'" tuiTd>
            <p class="tui-space_vertical-1 tui-text_body-m">
              {{ item?.contractor?.info?.shortName }}
            </p>
            {{ item?.contractor?.info?.unp }}
          </td>
          <td *tuiCell="'status'" tuiTd>
            {{ item?.status?.name }}
          </td>
          <td *tuiCell="'price'" tuiTd>
            {{ item?.total?.totalSum?.amount }}
          </td>
          <td *tuiCell="'action'" tuiTd>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconDownload"
              title="Скачать PDF"
              shape="rounded"
              (click)="downloadPdf(item)"
            ></button>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconTrash"
              title="Удалить"
              shape="rounded"
              (click)="delete(item)"
            ></button>
            <tui-hosted-dropdown #dropdown [content]="content">
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconMoreVer"
                type="button"
                shape="rounded"
                [pseudoHovered]="dropdown.open || null"
              ></button>
            </tui-hosted-dropdown>
            <ng-template #content let-activeZone>
              <tui-data-list
                tuiDataListDropdownManager
                [tuiActiveZoneParent]="activeZone"
              >
                <tui-opt-group>
                  <button
                    tuiOption
                    (click)="createBaseOnContract(item)"
                    [disabled]="item._contractId"
                  >
                    Договор
                  </button>
                </tui-opt-group>
                <tui-opt-group>
                  <button
                    tuiOption
                    (click)="createBaseOnContract(item)"
                    [disabled]="true"
                  >
                    Счёт
                  </button>
                  <button
                    tuiOption
                    (click)="createBaseOnAct(item)"
                    [disabled]="true"
                  >
                    Акт
                  </button>
                  <button
                    tuiOption
                    (click)="createBaseOnReference(item)"
                    [disabled]="true"
                  >
                    Справка
                  </button>
                </tui-opt-group>
              </tui-data-list>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container> -->
</section>
<ng-template #more>
  <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
</ng-template>
