<div class="company" *ngIf="data && data.info.unp">
  <tui-avatar
    class="company__avatar"
    class="tui-space_right-3"
    [text]="data?.info?.shortName"
    [autoColor]="true">
  </tui-avatar>

  <div class="company__content">
    <p class="company__subtitle tui-text_body-s">УНП: {{data?.info?.unp || 'не установлено'}}</p>
    <h4 class="company__title tui-text_body-m tui-space_top-0 tui-space_bottom-0">{{data?.info?.shortName}}</h4>
  </div>

  <button
    class="company__btn company__btn--change"
    tuiButton
    type="button"
    class="tui-space_left-3"
    appearance="outline"
    size="m"
    (click)="change.emit(true)">
      Изменить
  </button>
</div>
