<!-- <p>admin-layout works!</p> -->

<!-- <tui-theme-night></tui-theme-night> -->
<tui-root>
  <section class="root">
    <nav class="root__menu">
      <app-left-menu></app-left-menu>
    </nav>
    <main class="root__main">
      <!-- <h1>{{ message | async | json }}</h1> -->
      <router-outlet></router-outlet>
    </main>
    <h1>Admin Layout</h1>
  </section>

  <ng-container ngProjectAs="tuiOverDialogs">
  </ng-container>
  <ng-container ngProjectAs="tuiOverNotifications">
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
  </ng-container>
</tui-root>