.layout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0;
  grid-template-rows: repeat(8, 1fr);
  width: 100vw;
  height: 100vh;

  // grid-auto-rows: minmax(150px, auto);

  & &__logo {
    grid-column: ~'2 / 7';
    grid-row: 1;
  }

  & &__footer {
    grid-column: ~'1 / 8';
    grid-row: 8;
    background: #eee;
    color: #666;
  }

  & &__main {
    grid-column: ~'2 / 7';
    grid-row: ~'2 / 8';
  }

  & &__adv {
    grid-column: ~'8 / 11';
    grid-row: ~'1 / 9';
    background-color: #2196f3;
    color: #fff;
    padding: 0 15%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &-text {
      font-size: 3rem;
      font-weight: 600;
      color: #fff;
      line-height: 1;
    }
  }
}
