<app-header-create title="Настройка компании"></app-header-create>

<ng-container *ngIf="company$ | async; let company">
  <tui-scrollbar class="page-body page-body--header-footer">
    <section class="tui-container tui-container_full">
      <tui-notification
        class="tui-col_6 tui-col-offset_3"
        status="warning"
        *ngIf="isCannotBeEmpty"
      >
        Для дальнейшей работы Вам необходимо обязательно создать компанию.
        Обязательно заполняйте все поля реальными данными.
      </tui-notification>

      <!-- <app-company-settings-logotype
      [company]="company"
    ></app-company-settings-logotype> -->

      <app-company-settings-information
        [company]="company"
        (onChange)="setCompanyInfo($event)"
      ></app-company-settings-information>

      <app-company-settings-banks
        [company]="company"
        (onChange)="setBank($event)"
      ></app-company-settings-banks>

      <app-company-responsible-person
        [company]="company"
        (onChange)="setResponsiblePerson($event)"
      ></app-company-responsible-person>
    </section>
  </tui-scrollbar>

  <footer class="page-footer">
    <button
      tuiButton
      type="button"
      class="tui-space_right-3"
      appearance="primary"
      (click)="save()"
    >
      {{ company._id ? 'Обновить' : 'Сохранить' }}
    </button>
  </footer>
</ng-container>
