<div class="header"></div>

<section class="tui-container">
  <div class="tui-row tui-row_sme">
    <div class="tui-col_12">
      <app-company-settings-logotype
        [company]="company"
      ></app-company-settings-logotype>

      <app-company-settings-information
        [company]="company"
        (returnCompany)="setCompanyInfo($event)"
      ></app-company-settings-information>

      <app-company-settings-banks
        [company]="company"
        (returnCompany)="setCompanyBank($event)"
      ></app-company-settings-banks>

      <!-- <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        appearance="primary"
        [disabled]="!isCompanyValid"
      >
        Сохранить
      </button> -->

      <h3>{{ company.info | json }}</h3>
      <hr />
      <h3>{{ company.bankAccount | json }}</h3>

      <hr />

      <h3>{{ company | json }}</h3>
    </div>
  </div>
</section>
