<div class="header"></div>

<section class="tui-container">
  <div class="tui-row tui-row_sme">
    <div class="tui-col_12">

  <tui-accordion class="accordion" [rounded]="false" [closeOthers]="false">
    <tui-accordion-item class="accordion" borders="all" [showArrow]="true">
        <div class="accordion__header">
            <div class="accordion__header-icon">
                <tui-marker-icon class="operation-icon" src="tuiIconAlertCircleLarge" size="s" mode="primary"></tui-marker-icon>
            </div>
            <div class="accordion__title">Логотип компании</div>
            <div class="accordion__info">
                <div class="accordion__status" [class._success]="getBlockStatus('logotype')">
                  {{getBlockStatus('logotype') ? 'Approved' : 'Waiting for approve'}}
                </div>
            </div>
        </div>
        <ng-template tuiAccordionItemContent>
          <ng-container *ngIf="!(uploadedFiles$ | async)?.length">
            <app-upload-image></app-upload-image>
          </ng-container>
          <img [src]="item.url" alt="" *ngFor="let item of uploadedFiles$ | async">
        </ng-template>
    </tui-accordion-item>

    <tui-accordion-item borders="all" [showArrow]="true">
        <div class="accordion__header">
            <div class="accordion__header-icon">
              <tui-marker-icon class="operation-icon" src="tuiIconAlertCircleLarge" size="s" mode="primary"></tui-marker-icon>
            </div>
            <div class="accordion__title">Информация о компании</div>
            <div class="accordion__info">
                <div class="accordion__status" [class._success]="getBlockStatus('legalInformation')">
                  {{getBlockStatus('legalInformation') ? 'Approved' : 'Waiting for approve'}}
                </div>
            </div>
        </div>
        <ng-template tuiAccordionItemContent>
            <tui-input-number
              *ngIf="!isCompanySelected"
              class="tui-space_top-2"
              [(ngModel)]="unp"
              min="100000000"
              max="999999999"
              (change)="getUNP()"
              >
              УНП
          </tui-input-number>
          <app-company-panel *ngIf="isCompanySelected" [data]="company" [isLoaded]="selectedCompany" (change)="changeCompany()"></app-company-panel>
        </ng-template>
    </tui-accordion-item>

    <tui-accordion-item borders="all" [showArrow]="true">
        <div class="accordion__header">
            <div class="accordion__header-icon">
              <tui-marker-icon class="operation-icon" src="tuiIconAlertCircleLarge" size="s" mode="primary"></tui-marker-icon>
            </div>
            <div class="accordion__title">Банк</div>
            <div class="accordion__info">
                <div class="accordion__status" [class._success]="getBlockStatus('signature')">
                  {{getBlockStatus('signature') ? 'Approved' : 'Waiting for approve'}}
                </div>
            </div>
        </div>
        <ng-template tuiAccordionItemContent>
            <h3>Content</h3>
        </ng-template>
    </tui-accordion-item>

    <!-- <tui-accordion-item borders="all" [showArrow]="true">
        <div class="accordion__header">
            <div class="accordion__header-icon">
              <tui-marker-icon class="operation-icon" src="tuiIconAlertCircleLarge" size="s" mode="primary"></tui-marker-icon>
            </div>
            <div class="accordion__title">Изображения на документы</div>
            <div class="accordion__info">
                <div class="accordion__status" [class._success]="getBlockStatus('signature')">
                  {{getBlockStatus('signature') ? 'Approved' : 'Waiting for approve'}}
                </div>
            </div>
        </div>
        <ng-template tuiAccordionItemContent>
            <h3>Content</h3>
        </ng-template>
    </tui-accordion-item> -->
  </tui-accordion>

    </div>
  </div>
</section>




