<tui-accordion class="accordion" [rounded]="false" [closeOthers]="false">
  <tui-accordion-item borders="all" [showArrow]="true">
    <div class="accordion__header">
      <div class="accordion__header-icon">
        <tui-marker-icon
          class="operation-icon"
          src="tuiIconAlertCircleLarge"
          size="s"
          mode="primary"
        ></tui-marker-icon>
      </div>
      <div class="accordion__title">Банк</div>
      <div class="accordion__info">
        <div class="accordion__status" [class._success]="isValid">
          {{ isValid ? "Проверено" : "Не хватает данных" }}
        </div>
      </div>
    </div>
    <ng-template tuiAccordionItemContent>
      <app-bank-select
        *ngIf="!isBankSelected"
        (change)="changeBank($event)"
      ></app-bank-select>
      <app-bank-panel
        *ngIf="isBankSelected"
        [data]="company.bankAccount.bank"
        [isLoaded]="isBankSelected"
        (change)="changeBank()"
      ></app-bank-panel>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
