<div class="tui-form__row tui-form__row_multi-fields form-group">
  <div class="tui-form__multi-field form-group__item form-group__item-info">
    <h3 class="form-group__item-title">
      Банк
      <tui-badge
        class="form-group__item-status"
        [status]="(valid$ | async) ? 'success' : 'warning'"
        [value]="(valid$ | async) ? 'Проверено' : 'Не хватает данных'"
      ></tui-badge>
    </h3>
    <p class="form-group__item-desc">
      Выберите банк из списка. вы пожете осуществлять поиск по наименованию
      банка или по БИК(BIC) номеру. В случае отсутствия необходимого банка -
      пожалуйста, сообщите технической поддержке.
    </p>
  </div>
  <div class="tui-form__multi-field form-group__item">
    <app-company-bank [company]="company$ | async"></app-company-bank>
  </div>
</div>
