<tui-accordion class="accordion" [rounded]="false" [closeOthers]="false">
  <tui-accordion-item borders="all" [showArrow]="true">
    <div class="accordion__header">
      <div class="accordion__header-icon">
        <tui-marker-icon
          class="operation-icon"
          src="tuiIconAlertCircleLarge"
          size="s"
          mode="primary"
        ></tui-marker-icon>
      </div>
      <div class="accordion__title">Банк</div>
      <div class="accordion__info">
        <div class="accordion__status" [class._success]="isValid">
          {{ isValid ? "Approved" : "Waiting for approve" }}
        </div>
      </div>
    </div>
    <ng-template tuiAccordionItemContent>
      <!-- <tui-input
              class="tui-space_top-2"
              [(ngModel)]="bic"
              (change)="getBankInformation()"
              >
              BIC номер банка
          </tui-input> -->

      <app-bank-select (change)="changeBank($event)"></app-bank-select>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
