<div class="page-header">
  <h1 class="tui-text_h3 page-header__title">Товары</h1>
  <button
    class="tui-space_left-5"
    tuiButton
    size="s"
    iconRight="tuiIconPlus"
    title="Создать новый"
    shape="rounded"
    [routerLink]="[routing.admin.settings.services.create]"
  >
    Создать новый
  </button>

  <!-- <tui-tabs-with-more
    class="page-header__tabs"
    [activeItemIndex]="getTabActiveIndex"
    [moreContent]="more"
  >
    <ng-container *tuiLet="contractStatuses$ | async as contractStatuses">
      <ng-container *ngFor="let status of contractStatuses">
        <button *tuiTab tuiTab (click)="selectTab(status)">
          {{ status.name }}
        </button>
      </ng-container>
    </ng-container>
  </tui-tabs-with-more> -->
</div>

<div class="page-body">
  <app-empty-panel *ngIf="!(services$ | async)?.length"></app-empty-panel>
  <ng-container
    *ngIf="(services$ | async)?.length && services$ | async as services"
  >
    <section class="tui-container tui-container_full">
      <div class="tui-row tui-row_adaptive">
        <div class="tui-col_xs-12 tui-col_s-12 tui-col_sm-12 tui-col_md-12">
          <table tuiTable [columns]="columns" class="tui-table">
            <thead>
              <tr class="tui-table__tr" tuiThGroup>
                <th
                  class="tui-table__th"
                  *tuiHead="'name'"
                  tuiTh
                  [resizable]="true"
                >
                  Название
                </th>
                <th
                  class="tui-table__th"
                  *tuiHead="'desc'"
                  tuiTh
                  [resizable]="true"
                >
                  Описание
                </th>
                <th
                  class="tui-table__th tui-table__th--center"
                  *tuiHead="'count'"
                  tuiTh
                  [resizable]="true"
                >
                  Кол-во
                </th>
                <th
                  class="tui-table__th"
                  *tuiHead="'price'"
                  tuiTh
                  [resizable]="true"
                >
                  Цена
                </th>
                <th
                  class="tui-table__th"
                  *tuiHead="'action'"
                  tuiTh
                  [resizable]="false"
                ></th>
              </tr>
            </thead>
            <tbody tuiTbody [data]="services">
              <tr
                class="tui-table__tr"
                tuiTr
                *tuiRow="let item of services; let index = index"
              >
                <td class="tui-table__td" *tuiCell="'name'" tuiTd>
                  <b>{{ item?.name }}</b>
                  <br *ngIf="item.group?._id" />
                  <i *ngIf="item.group?._id">{{ item.group.name }}</i>
                </td>
                <td class="tui-table__td" *tuiCell="'desc'" tuiTd>
                  <small>{{ item?.desc }}</small>
                </td>
                <td
                  class="tui-table__td tui-table__td--center"
                  *tuiCell="'count'"
                  tuiTd
                >
                  {{ item?.count?.amount }}
                </td>
                <td class="tui-table__td" *tuiCell="'price'" tuiTd>
                  <b>{{ item?.price.amount }}</b>
                  &nbsp;
                  <small>{{ item?.price.currency.shortName }}</small>
                </td>
                <td
                  class="
                    tui-table__td tui-table__td--action tui-table__td--right
                  "
                  *tuiCell="'action'"
                  tuiTd
                >
                  <tui-hosted-dropdown #dropdown [content]="content">
                    <button
                      tuiIconButton
                      appearance="flat"
                      size="s"
                      icon="tuiIconMoreVer"
                      type="button"
                      shape="rounded"
                      [pseudoHovered]="dropdown.open || null"
                    ></button>
                  </tui-hosted-dropdown>
                  <ng-template #content let-activeZone>
                    <tui-data-list
                      tuiDataListDropdownManager
                      [tuiActiveZoneParent]="activeZone"
                    >
                      <button tuiOption (click)="edit(item)" [disabled]="false">
                        Редактировать
                      </button>
                      <button
                        tuiOption
                        (click)="delete(item)"
                        [disabled]="false"
                      >
                        Удалить
                      </button>
                    </tui-data-list>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </ng-container>
</div>
