<form tuiTableMode [formGroup]="form">

  <!-- <table class="tui-table table">
    <thead>
      <tr>
        <th class="tui-table__th cell_name">Название</th>
        <th class="tui-table__th cell_date">Дата</th>
        <th class="tui-table__th cell_quantity">Количество</th>
        <th class="tui-table__th cell_sum">Сумма, руб.</th>
      </tr>
    </thead>
  </table> -->
  
  <div class="table" formArrayName="tableRowArray">
    <div tuiGroup class="row" [collapsed]="true" *ngFor="let itemRow of form.get('tableRowArray')['controls']; let i=index;let l=last" [formGroupName]="i">
      <tui-input class="cell cell_name" tuiTextfieldSize="m" formControlName="name">
        Название
      </tui-input>
      <tui-input-date class="cell cell_date" tuiTextfieldSize="m" formControlName="date">
        Дата
      </tui-input-date>
      <tui-input-count class="cell cell_quantity" tuiTextfieldSize="m" formControlName="quantity">
        Кол-во
      </tui-input-count>
      <tui-input-number class="cell cell_sum" tuiTextfieldSize="m" formControlName="price" [readOnly]="true">
        Цена
      </tui-input-number>
    </div>
  </div>
</form>

<button
  tuiButton
  type="button"
  size="s"
  class="tui-space_right-3 tui-space_bottom-3 tui-space_top-3"
  (click)="addNewRow()">
  Добавить строку
</button>

<h3 *ngIf="form">
  Valid : {{form.valid | json}}
</h3>

<!-- <h3 *ngIf="form">
  tableRowArray : {{tableRowArray | json}}
</h3> -->