.left-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  & &__logo {
    display: block;
    height: 80px;
    border-bottom: 1px solid var(--color-graphite);
    padding: 15px;
    padding-bottom: 15px;
    font-weight: 600;
  }

  & &__menu {
    padding: 15px;
    height: calc(100vh - 152px);

    &-item{
      width: 100%;
    }

    &-divider{
      display: block;
      width: 70%;
      margin: 15px auto;
    }
  }

  & &__account {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    border-top: 1px solid var(--color-graphite);
    font-weight: 600;
  }
}

::ng-deep tui-wrapper[data-appearance='menuButton'] {
  width: 100%;
  color: #2B3F57;
  padding: 0 15px;

  .content {
    text-align: left;
    justify-content: flex-start;
  }

  .icon{
    color: #BFC6CD;
  }
  
  &[data-state='hovered'] {
    background: #F1F3F9;
    color: #3558C7;
    
    .icon{
      color: #3558C7;
    }
  }

  &[data-state='pressed'] {
    background: #3558C7;
    color: #FFF;
  }

  &[data-state='disabled'] {
    background: #BEC8D6;
  }
}

:host {
  display: block;
  width: 100%;
}