<section class="left-menu">
  <div class="left-menu__logo">Logo</div>
  <nav class="left-menu__menu">
    <button
      class="left-menu__menu-item"
      tuiButton
      appearance="flat"
      type="button"
      class="tui-space_bottom-2"
      icon="tuiIconDesktopLarge"
      [routerLink]="['/home']" 
      routerLinkActive="active">
      Home
    </button>
    <button
      class="left-menu__menu-item"
      tuiButton
      appearance="flat"
      type="button"
      class="tui-space_bottom-2"
      icon="tuiIconFileLarge"
      [routerLink]="['/invoices']" 
      routerLinkActive="active">
      Invoices
    </button>
  </nav>
  <div class="left-menu__account">
      <tui-badged-content
        class="tui-space_right-2"
        contentTop=""
        colorTop="red"
        size="s"
        [rounded]="true">
        <tui-avatar
          class="tui-space_right-2"
          [text]="getUserDisplayName"
          size="s"
          [autoColor]="true"
          [rounded]="true">
        </tui-avatar>
    </tui-badged-content>
    {{ getUserDisplayName }}
  </div>
</section>