<!-- <tui-checkbox-block
  ngDefaultControl
  [formControl]="samePostMailControl"
  contentAlign="left"
  nativeId="exSamePostMail"
  size="l"
>
  <div class="inner inner_flex">
    Почтовый адрес совпадает с юрид...
    <tui-tooltip
      describeId="tooltipAddress"
      content="Если галочка активна - значение почтового адреса будет взято из юридических данных компании"
    ></tui-tooltip>
  </div>
</tui-checkbox-block>

<tui-expand [expanded]="isExpandedCustomAddress">
  <ng-template tuiExpandContent>
    <tui-notification class="tui-space_top-4" status="warning">
      Временно устанавливать другой адрес не возможно.
    </tui-notification>
  </ng-template>
</tui-expand> -->
