<form [formGroup]="form">
  <tui-input formControlName="type">
    Тип ответственного лица
    <span class="tui-required"></span>
  </tui-input>
  <tui-error [error]="[] | tuiFieldError | async" formControlName="type"></tui-error>

  <tui-input class="tui-space_top-5" formControlName="fullName">
    ФИО ответственного лица
    <span class="tui-required"></span>
  </tui-input>
  <tui-error [error]="[] | tuiFieldError | async" formControlName="fullName"></tui-error>

  <tui-input class="tui-space_top-5" formControlName="basis">
    На основании...
    <span class="tui-required"></span>
  </tui-input>
  <tui-error [error]="[] | tuiFieldError | async" formControlName="basis"></tui-error>
</form>
