<div class="tui-form__row tui-form__row_multi-fields form-group">
  <div class="tui-form__multi-field form-group__item form-group__item-info">
    <h3 class="form-group__item-title">
      Логотип
      <tui-badge
        class="form-group__item-status"
        [status]="(uploadedFiles$ | async)?.length ? 'success' : 'warning'"
        [value]="
          (uploadedFiles$ | async)?.length ? 'Проверено' : 'Не хватает данных'
        "
      ></tui-badge>
    </h3>
    <p class="form-group__item-desc">
      Данное изображение будет добавлять на всех документах в качестве
      брендирования. Это позоляет запоминать вашу компании среди других
      конкурентов.
      <br />
      Соотношение сторон (Ш х В): 20 к 5
    </p>
  </div>
  <div class="tui-form__multi-field form-group__item">
    <ng-container *ngIf="!(uploadedFiles$ | async)?.length; else logotypeImage">
      <!-- <app-upload-image></app-upload-image> -->
      <app-uploader></app-uploader>
    </ng-container>
    <ng-template #logotypeImage>
      <img
        [src]="item.url"
        alt=""
        *ngFor="let item of uploadedFiles$ | async"
      />
    </ng-template>
  </div>
</div>
