<form [formGroup]="form">
  <tui-input
    *tuiLet="banksSort$ | async as banks"
    formControlName="bank"
    tuiTextfieldExampleText="Введите название банка или его BIC"
    [tuiTextfieldCustomContent]="content"
  >
    Bank
    <ng-container *ngIf="banks?.length">
      <tui-data-list *tuiDataList>
        <button
          *ngFor="let bank of banks"
          tuiOption
          [value]="bank"
          (click)="select(bank)"
          class="banl-item"
        >
          <p class="bank-item__title">
            {{ bank.NmBankShort }}
          </p>
          <p class="bank-item__bic">
            {{ bank.CDBank }}
          </p>
          <!-- <tui-avatar
                size="s"
                [text]="bank.NmBankShort"
            ></tui-avatar> -->
        </button>
      </tui-data-list>
    </ng-container>
  </tui-input>
</form>
