button {
  &[data-tui-host-size='m'],
  &[data-tui-host-size='s'] {
    border-radius: 5px;
  }

  &._disabled-loader {
    position: relative;
    opacity: var(--tui-disabled-opacity);

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      margin-top: -10px;
      margin-left: -10px;

      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid #2c3e50;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;
      opacity: 1;
      will-change: transform;
      animation: loading-bar-spinner 700ms linear infinite;
    }

    // TODO: (Taiga UI migration): use mixins to customize tuiWrapper. See https://taiga-ui.dev/wrapper
[tuiWrapper][data-appearance='primary'] {
      background: #eee;
      color: #eee;
    }

    tui-wrapper[data-appearance='outline'] {
      background: #eee;
      color: #eee;

      &:after {
        color: #eee;
      }
    }
  }
}

tui-wrapper[data-appearance='accent'] {
  background: var(--tui-accent);
  color: var(--tui-accent-text);

  &[data-state='hover'] {
    background: var(--tui-accent-hover);
  }

  &[data-state='active'] {
    background: var(--tui-accent-active);
  }

  &[data-state='disabled'] {
    background: #eaecee;
  }
}

tui-wrapper[data-appearance='primary'] {
  &[data-state='disabled'] {
    background: #eaecee;
    color: #888;
  }
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
