<!-- <tui-theme-night></tui-theme-night> -->
<!-- <tui-root tuiMode="onDark"> -->
<tui-root>
  <section class="root">
    <nav class="root__menu">
      <app-left-menu></app-left-menu>
    </nav>
    <main class="root__main">
      <router-outlet></router-outlet>
    </main>
  </section>

  <ng-container ngProjectAs="tuiOverDialogs">
      <!-- Content over dialogs-->
  </ng-container>
  <ng-container ngProjectAs="tuiOverNotifications">
      <!-- Content over notifications -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
      <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
      <!-- Content over hints -->
  </ng-container>
</tui-root>