<!-- <form [formGroup]="form">
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input
        formControlName="zipCode"
        tuiHintContent="Почтовый индекс, обычно состоит из 6 цифр"
      >
        Индекс
        <span class="tui-required"></span>
        <input tuiTextfield placeholder="220000" />
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="zipCode"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input
        formControlName="country"
        tuiHintContent="Почтовый индекс, обычно состоит из 6 цифр"
      >
        Страна
        <span class="tui-required"></span>
        <input tuiTextfield placeholder="Беларусь" />
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="country"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-phone
        formControlName="phone"
        countryCode="+375"
        phoneMaskAfterCountryCode="(##) ###-##-##"
      >
        Телефон
      </tui-input-phone>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="phone"
      ></tui-error>
    </div>
  </div>
</form> -->
