<app-header-create
  [title]="isEdit ? 'Редактирование товара' : 'Новый товары'"
></app-header-create>

<tui-scrollbar class="page-body page-body--header-footer">
  <form class="tui-container tui-container_full" [formGroup]="form">
    <div class="tui-form__row tui-form__row_multi-fields form-group">
      <div class="tui-form__multi-field form-group__item form-group__item-info">
        <h3 class="form-group__item-title">Наименование</h3>
        <p class="form-group__item-desc">
          Укажите наименование товара, которое будет отображаться во всех.
        </p>
      </div>
      <div class="tui-form__multi-field form-group__item">
        <tui-input formControlName="name"> Наименование </tui-input>
        <tui-field-error formControlName="name"></tui-field-error>
      </div>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields form-group">
      <div class="tui-form__multi-field form-group__item form-group__item-info">
        <h3 class="form-group__item-title">Описание</h3>
        <p class="form-group__item-desc">
          Краткое описание товара, для того, чтобы понимать за что отвечает тот
          или иной товар. Используется исключительно в качестве подсказов и не
          отображается в документах
        </p>
      </div>
      <div class="tui-form__multi-field form-group__item">
        <tui-text-area formControlName="desc"> Описание </tui-text-area>
        <tui-field-error formControlName="desc"></tui-field-error>
      </div>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields form-group">
      <div class="tui-form__multi-field form-group__item form-group__item-info">
        <h3 class="form-group__item-title">Группа</h3>
        <p class="form-group__item-desc">
          Выберите группу к которой будет относится данный товар. Это позволить
          быстрее осуществлять поиск по списку товаров из-за группировки
        </p>
      </div>
      <div class="tui-form__multi-field form-group__item">
        <tui-select
          formControlName="group"
          [valueContent]="groupContent"
          *ngIf="!newGroupVisible"
        >
          Группа
          <tui-data-list-wrapper
            *tuiDataList
            [items]="group$ | async"
            [itemContent]="groupContent"
          ></tui-data-list-wrapper>
        </tui-select>

        <ng-template #groupContent let-item>
          {{ item.name }}
        </ng-template>

        <p class="new-group-btn" *ngIf="!newGroupVisible">
          <button tuiLink [pseudo]="true" (click)="toggleNewGroup()">
            Добавить новую группу
          </button>
        </p>

        <ng-container *ngIf="newGroupVisible" [formGroup]="formGroup">
          <tui-input class="tui-space_bottom-4" formControlName="name">
            Название
          </tui-input>
          <tui-field-error
            class="tui-space_bottom-4"
            formControlName="name"
          ></tui-field-error>

          <tui-text-area
            tuiTextfieldSize="m"
            tuiAutoFocus
            class="tui-space_bottom-4"
            formControlName="desc"
          >
            Описание
          </tui-text-area>
          <button
            tuiButton
            appearance="secondary"
            type="button"
            size="m"
            class="tui-space_right-3"
            (click)="toggleNewGroup()"
          >
            Отменить
          </button>
          <button
            tuiButton
            type="button"
            size="m"
            (click)="createNewGroup()"
            [disabled]="formGroup.invalid"
          >
            Создать
          </button>
        </ng-container>
      </div>
    </div>

    <div
      class="tui-form__row tui-form__row_multi-fields form-group"
      formGroupName="price"
    >
      <div class="tui-form__multi-field form-group__item form-group__item-info">
        <h3 class="form-group__item-title">Цена</h3>
        <p class="form-group__item-desc">
          Укажите цену за единицу товара. Эту цену нельзя будет редактировать
          при создании документов.
        </p>
      </div>
      <div class="tui-form__multi-field form-group__item">
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <tui-input-number formControlName="amount"> Цена </tui-input-number>
            <tui-field-error formControlName="amount"></tui-field-error>
          </div>
          <div class="tui-form__multi-field">
            <tui-select
              formControlName="currency"
              [valueContent]="currencyContent"
            >
              Валюта
              <tui-data-list-wrapper
                *tuiDataList
                [items]="currency$ | async"
                [itemContent]="currencyContent"
              ></tui-data-list-wrapper>
            </tui-select>
            <tui-field-error formControlName="currency"></tui-field-error>

            <ng-template #currencyContent let-item>
              {{ item.code }} - <small>{{ item.fullName }}</small>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields form-group">
      <div class="tui-form__multi-field form-group__item form-group__item-info">
        <h3 class="form-group__item-title">НДС</h3>
        <p class="form-group__item-desc">
          Выберите ставку НДС для вашего товара
        </p>
      </div>
      <div class="tui-form__multi-field form-group__item">
        <tui-select formControlName="tax" [valueContent]="taxContent">
          НДС
          <tui-data-list-wrapper
            *tuiDataList
            [items]="tax$ | async"
            [itemContent]="taxContent"
          ></tui-data-list-wrapper>
        </tui-select>

        <ng-template #taxContent let-item>
          {{ item.label }}
        </ng-template>
      </div>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields form-group">
      <div class="tui-form__multi-field form-group__item form-group__item-info">
        <h3 class="form-group__item-title">Единицы измерения</h3>
        <p class="form-group__item-desc">
          Выберите единицы измерения для товара из списка предложенных
        </p>
      </div>
      <div class="tui-form__multi-field form-group__item">
        <tui-select formControlName="unit" [valueContent]="unitContent">
          Ед. измерения
          <tui-data-list-wrapper
            *tuiDataList
            [items]="unit$ | async"
            [itemContent]="unitContent"
          ></tui-data-list-wrapper>
        </tui-select>

        <ng-template #unitContent let-item>
          {{ item.fullName }} <small>({{ item.shortName }})</small>
        </ng-template>
      </div>
    </div>

    <div
      class="tui-form__row tui-form__row_multi-fields form-group"
      formGroupName="count"
    >
      <div class="tui-form__multi-field form-group__item form-group__item-info">
        <h3 class="form-group__item-title">Количество</h3>
        <p class="form-group__item-desc">
          Укажите количество, которое будет отображаться в списке услуг. Так же
          вы можете указать возможность редактирования данного показателя при
          создании акта или справки.
        </p>
      </div>
      <div class="tui-form__multi-field form-group__item">
        <tui-input-count formControlName="amount" [min]="1" [max]="999999">
          Количество
        </tui-input-count>

        <tui-checkbox-labeled
          class="tui-space_top-3"
          formControlName="isEditable"
          size="m"
        >
          Возможность редактирования
          <div class="can-edit">
            позволяет изменять количество при формировании документа
          </div>
        </tui-checkbox-labeled>
      </div>
    </div>
  </form>
</tui-scrollbar>

<footer class="page-footer">
  <button
    class="tui-space_right-3"
    tuiButton
    type="button"
    [showLoader]="false"
    [size]="'m'"
    appearance="secondary"
    (click)="cancel()"
  >
    Отменить
  </button>
  <button
    tuiButton
    type="button"
    [showLoader]="false"
    [size]="'m'"
    [disabled]="form.invalid"
    (click)="save()"
  >
    {{ isEdit ? 'Изменить' : 'Добавить' }}
  </button>
</footer>
