@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: block;
}

.content {
  padding: 1rem;
}

table {
  width: 100%;
}

// .tabs {
//   width: ~"calc(100% - 15.625rem)";
//   justify-content: flex-end;
//   box-shadow: none;
// }
