<div class="page-header">
  <h1 class="tui-text_h3 page-header__title">Договора</h1>
  <button
    class="tui-space_left-5"
    tuiButton
    size="s"
    iconRight="tuiIconPlus"
    title="Создать новый"
    shape="rounded"
    [routerLink]="[routing.admin.contract.create]"
  >
    Создать новый
  </button>
  <tui-tabs-with-more
    class="page-header__tabs"
    [activeItemIndex]="getTabActiveIndex"
    [moreContent]="more"
  >
    <ng-container *tuiLet="contractStatuses$ | async as contractStatuses">
      <ng-container *ngFor="let status of contractStatuses">
        <button *tuiTab tuiTab (click)="selectTab(status)">
          {{ status.name }}
        </button>
      </ng-container>
    </ng-container>
  </tui-tabs-with-more>
</div>

<tui-loader
  [showLoader]="!(contracts$ | async)"
  [overlay]="true"
  [inheritColor]="true"
  textContent="Загружается..."
  size="l"
>
  <section class="page-body">
    <ng-container *ngIf="contracts$ | async as contracts">
      <table tuiTable [columns]="columns" class="tui-table">
        <thead>
          <tr class="tui-table__tr" tuiThGroup>
            <th
              class="tui-table__th"
              *tuiHead="'number'"
              tuiTh
              [resizable]="true"
            >
              Номер
            </th>
            <th
              class="tui-table__th"
              *tuiHead="'date'"
              tuiTh
              [resizable]="true"
            >
              Дата начала
            </th>
            <th
              class="tui-table__th"
              *tuiHead="'status'"
              tuiTh
              [resizable]="true"
            >
              Статус
            </th>
            <th
              class="tui-table__th"
              *tuiHead="'dateCreation'"
              tuiTh
              [resizable]="true"
            >
              Дата создания
            </th>
            <th
              class="tui-table__th"
              *tuiHead="'action'"
              tuiTh
              [resizable]="false"
            ></th>
          </tr>
        </thead>
        <tbody tuiTbody [data]="contracts">
          <tr
            class="tui-table__tr"
            tuiTr
            *tuiRow="let item of contracts; let index = index"
          >
            <td class="tui-table__td" *tuiCell="'number'" tuiTd>
              № <b>{{ item?.number }}</b>
            </td>
            <td class="tui-table__td" *tuiCell="'date'" tuiTd>
              <b>{{ item?.date | date: 'dd MMM yyyy' }}</b>
            </td>
            <td class="tui-table__td" *tuiCell="'status'" tuiTd>
              <tui-badge
                [style.background-color]="item?.status?.color"
                status="custom"
                [value]="item?.status?.name"
                *ngIf="item?.status"
              ></tui-badge>
              <span *ngIf="!item?.status">не указан</span>
            </td>
            <td class="tui-table__td" *tuiCell="'dateCreation'" tuiTd>
              <span>
                {{ item?._createdDate | date: 'dd MMM yyyy' }}
              </span>
              <br />
              <small>
                {{ item?._createdDate | date: 'hh:mm' }}
              </small>
            </td>
            <td
              class="tui-table__td tui-table__td--right"
              *tuiCell="'action'"
              tuiTd
            >
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconDownload"
                title="Скачать PDF"
                shape="rounded"
                (click)="downloadPdf(item)"
              ></button>
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconTrash"
                title="Remove"
                shape="rounded"
                (click)="delete(item)"
              ></button>

              <tui-hosted-dropdown #dropdown [content]="content">
                <button
                  tuiIconButton
                  appearance="flat"
                  size="s"
                  icon="tuiIconMoreVer"
                  type="button"
                  shape="rounded"
                  [pseudoHovered]="dropdown.open || null"
                ></button>
              </tui-hosted-dropdown>
              <ng-template #content let-activeZone>
                <tui-data-list
                  tuiDataListDropdownManager
                  [tuiActiveZoneParent]="activeZone"
                >
                  <button
                    tuiOption
                    (click)="createBaseOnInvoice(item)"
                    [disabled]="false"
                  >
                    Счёт
                  </button>
                  <button
                    tuiOption
                    (click)="createBaseOnAct(item)"
                    [disabled]="false"
                  >
                    Акт
                  </button>
                  <button
                    tuiOption
                    (click)="createBaseOnRentalReference(item)"
                    [disabled]="false"
                  >
                    Справка
                  </button>
                </tui-data-list>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </section>
</tui-loader>

<ng-template #more>
  <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
</ng-template>
