<div class="page-header">
  <div class="page-header__header">
    <h1 class="tui-text_h3 page-header__title">Счета</h1>
    <button
      class="tui-space_left-5"
      tuiButton
      size="s"
      iconRight="tuiIconPlus"
      title="Создать новый"
      shape="rounded"
      [routerLink]="[routing.admin.invoice.create]"
    >
      Создать новый
    </button>
    <!-- <app-breadcrumbs></app-breadcrumbs> -->
  </div>
  <tui-tabs-with-more
    class="page-header__tabs"
    [activeItemIndex]="getTabActiveIndex"
    [moreContent]="more"
  >
    <ng-container *tuiLet="invoiceStatuses$ | async as invoiceStatuses">
      <ng-container *ngFor="let status of invoiceStatuses">
        <button *tuiTab tuiTab (click)="selectTab(status)">
          {{ status.name }}
        </button>
      </ng-container>
    </ng-container>
  </tui-tabs-with-more>
</div>

<section class="page-body">
  <app-empty-panel
    *ngIf="!(invoices$ | async)?.length"
    [link]="routing.admin.invoice.create"
  ></app-empty-panel>

  <ng-container
    *ngIf="(invoices$ | async)?.length && invoices$ | async as invoices"
  >
    <table tuiTable [columns]="columns" class="tui-table">
      <thead>
        <tr tuiThGroup class="tui-table__tr">
          <th
            class="tui-table__th"
            *tuiHead="'number'"
            tuiTh
            [resizable]="true"
          >
            Номер
          </th>
          <th class="tui-table__th" *tuiHead="'date'" tuiTh [resizable]="true">
            Дата
          </th>
          <th
            class="tui-table__th"
            *tuiHead="'status'"
            tuiTh
            [resizable]="true"
          >
            Статус
          </th>
          <th class="tui-table__th" *tuiHead="'price'" tuiTh [resizable]="true">
            Сумма
          </th>
          <th
            class="tui-table__th"
            *tuiHead="'action'"
            tuiTh
            [resizable]="true"
          ></th>
        </tr>
      </thead>
      <tbody tuiTbody [data]="invoices">
        <tr
          *tuiRow="let item of invoices; let index = index"
          tuiTr
          class="tui-table__tr"
        >
          <td class="tui-table__td" *tuiCell="'number'" tuiTd>
            № <b>{{ item?.number }}</b>
          </td>
          <td class="tui-table__td" *tuiCell="'date'" tuiTd>
            <b
              >{{ item?.dateRange.from | date: 'dd MMM yyyy' }} -
              {{ item?.dateRange.to | date: 'dd MMM yyyy' }}</b
            >
          </td>
          <td class="tui-table__td" *tuiCell="'status'" tuiTd>
            <tui-badge
              [style.background-color]="item?.status?.color"
              status="custom"
              [value]="item?.status?.name"
              *ngIf="item?.status"
            ></tui-badge>
            <span *ngIf="!item?.status">не указан</span>
          </td>
          <td class="tui-table__td" *tuiCell="'price'" tuiTd>
            <b>
              {{ item?.total?.totalSum?.amount | tuiFormatNumber: 2:',' }}
            </b>
            {{ 'BYN' | tuiCurrency }}
          </td>
          <td
            class="tui-table__td tui-table__td--right"
            *tuiCell="'action'"
            tuiTd
          >
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconDownload"
              title="Скачать PDF"
              shape="rounded"
              (click)="downloadPdf(item)"
            ></button>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconTrash"
              title="Удалить"
              shape="rounded"
              (click)="delete(item)"
            ></button>
            <tui-hosted-dropdown #dropdown [content]="content">
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconMoreVer"
                type="button"
                shape="rounded"
                [pseudoHovered]="dropdown.open || null"
              ></button>
            </tui-hosted-dropdown>
            <ng-template #content let-activeZone>
              <tui-data-list
                tuiDataListDropdownManager
                [tuiActiveZoneParent]="activeZone"
              >
                <tui-opt-group>
                  <button
                    tuiOption
                    (click)="createBaseOnContract(item)"
                    [disabled]="item._contractId"
                  >
                    Договор
                  </button>
                </tui-opt-group>
                <tui-opt-group>
                  <button
                    tuiOption
                    (click)="createBaseOnContract(item)"
                    [disabled]="true"
                  >
                    Копировать счёт
                  </button>
                  <button
                    tuiOption
                    (click)="createBaseOnAct(item)"
                    [disabled]="false"
                  >
                    Акт
                  </button>
                  <button
                    tuiOption
                    (click)="createBaseOnReference(item)"
                    [disabled]="true"
                  >
                    Справка
                  </button>
                  <button tuiOption (click)="edit(item)" [disabled]="true">
                    Изменить
                  </button>
                </tui-opt-group>
              </tui-data-list>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</section>
<ng-template #more>
  <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
</ng-template>
