<div class="header">
  <div class="header__top">
    <div class="header__account">
      	<tui-avatar
          class="tui-space_right-3"
          text="Роман Лунцевич"
          size="m"
          [rounded]="true">
        </tui-avatar>
        <div class="header__account-name">
          <span class="tui-text_h6">ИП Лунцевич Р.В.</span>
          <span class="tui-text_body-s">УНП: 123 123 123</span>
        </div>
    </div>
    <div class="header__action">
      <div class="header__action-balance">
        <p class="tui-space_bottom-0 tui-space_top-0">Активный баланс:</p>
        <tui-money [value]="2750" [colored]="true" class="tui-text_h6"> </tui-money>
      </div>
      <button
        class="tui-space_left-10"
        tuiIconButton
        size="m"
        icon="tuiIconPlusLarge"
        title="Add new invoice"
        shape="rounded"
        [routerLink]="[routing.admin.invoice.create]">
      </button>
    </div>
  </div>
  
</div>

<!-- <ng-container *ngIf="invoices$ | async; let invoices">
  <tui-island *ngFor="let item of invoices" class="tui-space_bottom-2">
    <p class="tui-island__category">
      № {{ item?.number || 'Б.н.' }} от
        {{ item?.createDate | date: 'dd MMM yyyy' }}
    </p>
    <h3 class="tui-island__title">Some heading</h3>
    <p class="tui-island__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </p>
    <p class="tui-island__paragraph tui-island__paragraph_link">
      <a href="/" tuiLink>Link</a>
    </p>
  </tui-island>
</ng-container> -->


<ng-container *ngIf="invoices$ | async; let invoices">

  <table tuiTable [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'number'" tuiTh [resizable]="true">#</th>
        <th *tuiHead="'unp'" tuiTh [resizable]="true">УНП</th>
        <th *tuiHead="'status'" tuiTh [resizable]="true">Статус</th>
        <th *tuiHead="'price'" tuiTh [resizable]="true">Сумма</th>
        <th *tuiHead="'action'" tuiTh [resizable]="true"></th>
        <!-- <th *tuiHead="'actions'" tuiTh [sorter]="null"></th> -->
      </tr>
    </thead>
    <tbody tuiTbody [data]="invoices">
      <tr *tuiRow="let item of invoices; let index = index" tuiTr>
        <td *tuiCell="'number'" tuiTd>
          <!-- {{item?.number}} -->
        </td>
        <td *tuiCell="'unp'" tuiTd>
          {{item?.contractor?.info?.unp}}
        </td>
        <td *tuiCell="'status'" tuiTd>
          {{item?.status?.name}}
        </td>
        <td *tuiCell="'price'" tuiTd>
          {{item?.total?.totalSum?.amount}}
        </td>
        <!-- <td *tuiCell="'email'" tuiTd>
            <a *ngIf="item.email" tuiLink [href]="'mailto:' + item.email">
                {{item.email}}
            </a>
        </td> -->
        <!-- <td *tuiCell="'status'" tuiTd>
            <div [class]="item.status">{{item.status}}</div>
        </td> -->
        <!-- <td *tuiCell="'tags'" tuiTd>
            <tui-tag
                *ngFor="let tag of item.tags"
                class="tui-space_right-1"
                [value]="tag"
                [autoColor]="true"
            ></tui-tag>
        </td> -->
        <td *tuiCell="'action'" tuiTd>
            <button
                tuiIconButton
                class="remove"
                appearance="flat"
                size="s"
                icon="tuiIconTrash"
                title="Remove"
                shape="rounded"
                (click)="remove(item)"
            ></button>
        </td>
      </tr>
    </tbody>
  </table>

</ng-container>


<!-- <div class="invoice" *ngIf="selectedInvoice">
  <div class="invoice__info">
    <span class="invoice__avatar">
      <ion-icon class="invoice__avatar-icon" name="receipt-outline"></ion-icon>
    </span>
  </div>
  <div class="invoice__body">
    <h2 class="invoice__name">
      № {{ selectedInvoice?.number || 'Б.н.' }} от
      {{ selectedInvoice?.createDate | date: 'dd MMM yyyy' }}
    </h2>
    <p class="invoice__status" [style.color]="selectedInvoice?.status?.color">
      <span>{{ selectedInvoice?.status?.name }}</span>
      <span class="invoice__sum">
        на сумму:
        <b>{{ selectedInvoice?.total?.totalSum.amount | number: '0.0-2' }}</b>
        руб.
      </span>
    </p>
    <h3 class="invoice__desc">
      {{ selectedInvoice?.contractor?.info?.shortName }}
    </h3>

    <p class="invoice__change">
      <ion-button
        class="invoice__change-link"
        color="light"
        size="small"
        (click)="showMore()"
        >ещё ...</ion-button
      >
    </p>
  </div>
</div> -->
