/* You can add global styles to this file, and also import other style files */
@import '~@taiga-ui/core/styles/taiga-ui-local';
@import './theme/color.less';
@import './theme/variables.less';

html,
body {
  background-color: #f8f9fb;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #6d6f72;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a,
p {
  font-size: 15px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

.tui-container.tui-container_adaptive {
  max-width: calc(100% - 30px);
}
