<div class="tui-form__row tui-form__row_multi-fields form-group">
  <div class="tui-form__multi-field form-group__item form-group__item-info">
    <h3 class="form-group__item-title">
      Информация
      <tui-badge
        class="form-group__item-status"
        [status]="(valid$ | async) ? 'success' : 'warning'"
        [value]="(valid$ | async) ? 'Проверено' : 'Не хватает данных'"
      ></tui-badge>
    </h3>
    <p class="form-group__item-desc">
      Введите УНП вашей организации для получения актуальных данных напрямую из
      ЕГР. Создать компанию с отличными от ЕГР данными не представляется
      возможным. В случае возникновения ошибок - пожалуйста, незамедлительно
      сообщите нашей технической поддержке с указанием всех вводимых данных для
      дальнейшего исправления ошибок.
    </p>
  </div>
  <div class="tui-form__multi-field form-group__item">
    <app-company-unp
      [company]="company$ | async"
      [canChange]="true"
    ></app-company-unp>
  </div>
</div>
