<!-- <ng-container *ngIf="company$ | async; let company">
  <app-bank-select
    *ngIf="!(validBank$ | async)"
    (onChange)="setBank($event)"
  ></app-bank-select>

  <app-bank-panel
    [bank]="company.bankAccount?.bank"
    [isLoaded]="validBank"
    *ngIf="validBank$ | async; let validBank"
    (onChange)="clearBank($event)"
  ></app-bank-panel>

  <section class="tui-space_top-5">
    <tui-input
      ngDefaultControl
      [formControl]="swiftControl"
      [textMask]="swiftMask"
    >
      Расчетный счет (SWIFT)
    </tui-input>
    <tui-error [error]="[] | tuiFieldError | async" [formControl]="swiftControl"></tui-error>
  </section>
</ng-container> -->
