.contractor-aside {
  padding: 1rem;
  height: 100vh;

  & &__search {
    margin-bottom: 1rem;
  }
}

.contractor-card {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 0px 0px 0px 2px #03a9f4;
    cursor: pointer;

    .contractor-card__actions {
      opacity: 1;
    }
  }

  &._active {
    box-shadow: inset 0px 0px 0px 2px #03a9f4;

    &:hover {
      box-shadow: inset 0px 0px 0px 2px #b3e5fc;
    }
  }

  & &__avatar {
    display: inline-flex;
  }

  & &__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;

    &-name {
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }

    &-unp {
      font-size: 11px;
      line-height: 16px;
      color: #999;
    }
  }

  & &__top {
    display: flex;
  }

  & &__actions {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  & &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }

  & + & {
    margin-top: 1rem;
  }
}
