<aside class="contractor-aside">
  <tui-input
    class="contractor-aside__search"
    [formControl]="searchControl"
    icon="tuiIconSearch"
    iconAlign="left"
    tuiTextfieldSize="m"
  >
    Поиск
  </tui-input>

  <div
    class="contractor-card"
    [class._active]="isSelectedContractor(item)"
    (click)="selectContractor(item)"
    *ngFor="let item of contractors$ | async"
  >
    <div class="contractor-card__top">
      <tui-avatar
        class="contractor-card__avatar tui-space_right-2"
        [text]="item.info.name"
        [autoColor]="true"
        [rounded]="true"
        size="s"
      ></tui-avatar>
      <span class="contractor-card__name">{{ item.info.shortName }}</span>
    </div>
    <div class="contractor-card__bottom">
      <tui-badge
        class="tui-space_right-2"
        status="success"
        value="Активный"
        size="s"
      ></tui-badge>
      <small class="contractor-card__balance"> +12 032 руб. </small>
    </div>
  </div>
</aside>
